%div#content_profiles
  
  - if session[:admin]
    %p= link_to t('.new_profile'), new_profile_path
    %div#accordion
      - for profile in @profiles
        %h2
          %a{:href => "##{profile.name.gsub(/\W/,'_')}"}
            = profile.name
        %div.container
          %h3
            title goes here
          != RedCloth.new(profile.body).to_html
          = link_to t('edit'), edit_profile_path(profile)
          = link_to t('destroy'), profile, :confirm => t('are_you_sure'), :method => :delete

  - else
    %div#accordion
      - for profile in @profiles
        %h2
          %a{:href => "##{profile.name.gsub(/\W/,'_')}"}
            = profile.name
        %div.container
          %h3
            title goes here
          != RedCloth.new(profile.body).to_html        