%h1= t '.title'
%p
  = link_to t('back'), profiles_path
  = link_to t('edit'), edit_profile_path(@profile)

%dl
  %dt= Profile.human_attribute_name :name
  %dd= @profile.name
  %dt= Profile.human_attribute_name :title
  %dd= @profile.title
  %dt= Profile.human_attribute_name :subtitle
  %dd= @profile.subtitle
  %dt= Profile.human_attribute_name :in_the_business_since
  %dd= @profile.in_the_business_since
  %dt= Profile.human_attribute_name :body
  %dd= @profile.body
