%div#content_press
  %h2
    Press

  - if session[:admin]
    %p= link_to t('.new_press_release'), new_press_release_path
    %br
    
    - for press_release in @press_releases
      %div.press_item
        %table.press_item_table
          %tr
            %td{:valign => "top"}
              %div.thumbnail_box
                = image_tag press_release.image.url
            %td{:valign => "top"}
              %dl
                %dt
                  = press_release.title
                %dd
                  = press_release.body
            %td{:valign => "top"}
              %a{:href => press_release.pdf.url }
                %img.pdf{:src => "/images/page_press/pdf_icon.png", :width => "72px", :height => "63px" }
        = link_to t('up'), up_press_release_path(press_release), :method => :put
        \/
        = link_to t('down'), down_press_release_path(press_release), :method => :put
        %br
        = link_to t('edit'), edit_press_release_path(press_release)
        = link_to t('destroy'), press_release, :confirm => t('are_you_sure'), :method => :delete

  - else

    - for press_release in @press_releases
      %div.press_item
        %table.press_item_table
          %tr
            %td{:valign => "top"}
              %div.thumbnail_box
                = image_tag press_release.image.url
            %td{:valign => "top"}
              %dl
                %dt
                  = press_release.title
                %dd
                  = press_release.body
            %td{:valign => "top"}
              %a{:href => press_release.pdf.url }
                %img.pdf{:src => "/images/page_press/pdf_icon.png", :width => "72px", :height => "63px" }