%h1= t('.title')
%p= link_to t('.new_venue'), new_venue_path

%table
  %thead
    %tr
      %th= Venue.human_attribute_name :type
      %th= Venue.human_attribute_name :name
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for venue in @venues
      %tr{ :class => cycle(:odd, :even) }
        %td= venue.type
        %td= venue.name
        %td.action= link_to t('show'), venue
        %td.action= link_to t('edit'), edit_venue_path(venue)
        %td.action= link_to t('destroy'), venue, :confirm => t('are_you_sure'), :method => :delete
