%h1= t '.title'
%p
  = link_to t('back'), venues_path
  = link_to t('edit'), edit_venue_path(@venue)

%dl
  %dt= Venue.human_attribute_name :type
  %dd= @venue.type
  %dt= Venue.human_attribute_name :name
  %dd= @venue.name
