!!!
%html
  %head
    %title Angel Management Group
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag :defaults, 'jquery-ui-1.8.5.custom.min.js'
    :javascript
      $(document).ready(function() {
        $("#accordion").accordion({
          collapsible: true,
          autoHeight: false,
          active: false
        });
      });
    = csrf_meta_tag
    

    = yield

  %div#nav
    %img{:src => "/images/global/amglogo.png", :width => "207", :height => "67px" }
    %ul
      %li
        = link_to 'About Us', public_about_us_path
      %li
        = link_to 'Profiles', public_profiles_path
      %li
        = link_to 'Owned Venues', public_owned_venues_path
      %li
        = link_to 'Operated Venues', public_operated_venues_path
      %li
        = link_to 'Client Venues', public_client_venues_path
      %li
        = link_to 'Contact', public_contact_path
      %li
        = link_to 'Press', public_press_path